<a href="https://colab.research.google.com/github/TranThu1208/my-ciu-tui-voi/blob/master/0_Working_with_Spark_Fundamentals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lecturer: Nguyen Thon Da Ph.D
Course: Big Data
Content: 0. Working with Spark - Fundamentals

In [1]:
!pip install --upgrade pyspark

Collecting pyspark
  Downloading pyspark-3.5.3.tar.gz (317.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.3/317.3 MB 4.9 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.3-py2.py3-none-any.whl size=317840625 sha256=a61e27621627318a2d75c52c5f7689667b303667c3d8d376c54e2aa9d30d4bc6
  Stored in directory: /root/.cache/pip/wheels/1b/3a/92/28b93e2fbfdbb07509ca4d6f50c5e407f48dce4ddbda69a4ab
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.3

In [2]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.10/dist-packages (3.5.3)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)

# Reading Data from a File

# Subset Columns and View a Glimpse of the Data

In [6]:
from pyspark.sql import SparkSession

# Create a SparkSession
spark = SparkSession.builder.appName("PySpark Basics").getOrCreate()

# Define file location and options
file_location = "finance-charts-apple1.csv"
file_type = "csv"
infer_schema = "False"
first_row_is_header = "True"

# Read the CSV file into a DataFrame
df = spark.read.format(file_type) \
    .option("inferSchema", infer_schema) \
    .option("header", first_row_is_header) \
    .load(file_location)

# Print the schema of the DataFrame
df.printSchema()

# Print the data types of columns
print(df.dtypes)

# Count the number of records in the DataFrame
record_count = df.count()

# Print the total number of records
print('The total number of records in the finance-charts-apple dataset is ' + str(record_count))

root
 |-- Date: string (nullable = true)
 |-- Open: string (nullable = true)
 |-- High: string (nullable = true)
 |-- Low: string (nullable = true)
 |-- Close: string (nullable = true)
 |-- Volume: string (nullable = true)
 |-- Adjusted: string (nullable = true)
 |-- dn: string (nullable = true)
 |-- mavg: string (nullable = true)
 |-- up: string (nullable = true)
 |-- direction: string (nullable = true)
 |-- Headlines: string (nullable = true)

[('Date', 'string'), ('Open', 'string'), ('High', 'string'), ('Low', 'string'), ('Close', 'string'), ('Volume', 'string'), ('Adjusted', 'string'), ('dn', 'string'), ('mavg', 'string'), ('up', 'string'), ('direction', 'string'), ('Headlines', 'string')]
The total number of records in the finance-charts-apple dataset is 506

In [7]:
full_df = df
# Defining a list to subset the required columns
columns=["Date","Open","Close","Volume","mavg","direction"]
# Subsetting the required columns from the DataFrame
df = df.select(columns)
# The following command shows the data; by default it shows top 20 rows
df.show(100)

+----------+----------+----------+---------+-----------+----------+
|      Date|      Open|     Close|   Volume|       mavg| direction|
+----------+----------+----------+---------+-----------+----------+
|2015-02-17|127.489998|127.830002| 63152400|117.9276669|Increasing|
|2015-02-18|127.629997|128.720001| 44891700|118.9403335|Increasing|
|2015-02-19|128.479996|128.449997| 37362400|119.8891668|Decreasing|
|2015-02-20|128.619995|     129.5| 48948400|120.7635001|Increasing|
|2015-02-23|130.020004|       133| 70974100|121.7201668|Increasing|
|2015-02-24|132.940002|132.169998| 69228100|122.6648335|Decreasing|
|2015-02-25|131.559998|128.789993| 74711700|123.6296667|Decreasing|
|2015-02-26|128.789993|130.419998| 91287500|124.2823333|Increasing|
|2015-02-27|       130|128.460007| 62014800|       NULL|Decreasing|
|2015-03-02|    129.25|129.089996| 48096700|125.4036668|Decreasing|
|2015-03-03|128.960007|129.360001| 37816300|125.9551669|Increasing|
|2015-03-04|129.100006|128.539993| 31666300|126.4730002|Decreasing|
|2015-03-05|128.580002|126.410004| 56517100|       NULL|Decreasing|
|2015-03-06|128.399994|126.599998| 72842100|127.2288335|Decreasing|
|2015-03-09|127.959999|127.139999| 88528500|       NULL|Decreasing|
|2015-03-10|126.410004|124.510002| 68856600|127.9235004|Decreasing|
|2015-03-11|    124.75|122.239998| 68939000|128.0033337|Decreasing|
|2015-03-12|122.309998|124.449997| 48362700|127.9813337|Increasing|
|2015-03-13|124.400002|123.589996| 51827300|       NULL|Decreasing|
|2015-03-16|123.879997|124.949997| 35874300|127.7283335|Increasing|
|2015-03-17|125.900002|127.040001| 51023100|127.6680002|Increasing|
|2015-03-18|       127|128.470001| 65270900|       NULL|Increasing|
|2015-03-19|    128.75|     127.5| 45809500|127.6245004|Decreasing|
|2015-03-20|    128.25|125.900002| 68695100|127.4980004|Decreasing|
|2015-03-23|127.120003|127.209999| 37709700|127.2633335|Increasing|
|2015-03-24|127.230003|126.690002| 32842300|127.0025001|Decreasing|
|2015-03-25|126.540001|123.379997| 51655200|126.7531667|Decreasing|
|2015-03-26|122.760002|124.239998| 47572900|126.4835001|Increasing|
|2015-03-27|    124.57|    123.25| 39546200|       NULL|Decreasing|
|2015-03-30|124.050003|126.370003| 47099700|126.0283332|Increasing|
|2015-03-31|126.089996|    124.43| 42090600|125.8334998|Decreasing|
|2015-04-01|    124.82|    124.25| 40621400|125.6009999|Decreasing|
|2015-04-02|125.029999|    125.32| 32220100|       NULL|Increasing|
|2015-04-06|124.470001|127.349998| 37194000|125.4528332|Increasing|
|2015-04-07|127.639999|126.010002| 35012300|125.4251665|Decreasing|
|2015-04-08|125.849998|125.599998| 37329200|125.4491664|Decreasing|
|2015-04-09|125.849998|126.559998| 32484000|       NULL|Increasing|
|2015-04-10|125.949997|127.099998| 40188000|125.7369999|Increasing|
|2015-04-13|128.369995|126.849998| 36365100|125.9113334|Decreasing|
|2015-04-14|       127|126.300003| 25524600|126.0235002|Decreasing|
|2015-04-15|126.410004|126.779999| 28970400|126.0220001|Increasing|
|2015-04-16|126.279999|126.169998| 28369000|       NULL|Decreasing|
|2015-04-17|125.550003|    124.75| 51957000|125.7983332|Decreasing|
|2015-04-20|    125.57|127.599998| 47054300|125.8221664|Increasing|
|2015-04-21|128.100006|126.910004| 32435100|125.8254998|Decreasing|
|2015-04-22|126.989998|128.619995| 37654500|125.8674998|Increasing|
|2015-04-23|128.300003|129.669998| 45770900|126.1116665|Increasing|
|2015-04-24|130.490005|130.279999| 44525900|126.4186666|Decreasing|
|2015-04-27|132.309998|132.649994| 96954200|126.8531664|Increasing|
|2015-04-28|134.460007|130.559998|118924000|127.1514997|Decreasing|
|2015-04-29|130.160004|128.639999| 63386100| 127.372333|Decreasing|
|2015-04-30|128.639999|125.150002| 83195400|127.4706663|Decreasing|
|2015-05-01|126.099998|128.949997| 58512600|127.6258331|Increasing|
|2015-05-04|     129.5|128.699997| 50988300| 127.764833|Decreasing|
|2015-05-05|128.149994|125.800003| 49271400|127.7634997|Decreasing|
|2015-05-06|126.559998|125.010002| 72141000|127.7326664|Decreasing|
|2015-05-07|124.769997|125.260002| 43940900|127.6919997|Increasing|
|2015-05-08|    126.68|127.620003| 55550400|127.7216665|Increasing|
|2015-05-11|127.389999|    126.32| 42035800|       NULL|Decreasing|
|2015-05-12|125.599998|125.870003| 48160000|127.6474995|Increasing|
|2015-05-13|126.150002|126.010002| 34694200| 127.633333|Decreasing|
|2015-05-14|127.410004|128.949997| 45203500|127.7279997|Increasing|
|2015-05-15|129.070007|128.770004| 38208000|127.9133333|Decreasing|
|2015-05-18|128.380005|130.190002| 50882900|128.0530002|Increasing|
|2015-05-19|130.690002|130.070007| 44633200|128.1998337|Decreasing|
|2015-05-20|       130|130.059998| 36454900|128.3093337|Increasing|
|2015-05-21|130.070007|131.389999| 39730400|128.3863339|Increasing|
|2015-05-22|131.600006|132.539993| 45596000| 128.499167|Increasing|
|2015-05-26|132.600006|129.619995| 70697600| 128.411167|Decreasing|
|2015-05-27|130.339996|132.039993| 45833200|128.4058336|Increasing|
|2015-05-28|131.860001|131.779999| 30733300|128.5108337|Decreasing|
|2015-05-29|131.229996|130.279999| 50884500|128.7318334|Decreasing|
|2015-06-01|130.279999|130.539993| 32112800|128.8584999|Increasing|
|2015-06-02|129.860001|129.960007| 33667600|128.8986669|Increasing|
|2015-06-03|130.660004|130.119995| 30889400|129.0808335|Decreasing|
|2015-06-04|129.580002|129.360001| 38450100|129.3096669|Decreasing|
|2015-06-05|     129.5|128.649994| 35626800|129.4986668|Decreasing|
|2015-06-08|128.899994|127.800003| 52674800|129.5401669|Decreasing|
|2015-06-09|126.699997|127.419998| 56075400|129.5670003|Increasing|
|2015-06-10|127.919998|128.880005| 39087300| 129.708667|Increasing|
|2015-06-11|129.179993|128.589996| 35390900|    129.845|Decreasing|
|2015-06-12|128.190002|127.169998| 36886200|129.8041667|Decreasing|
|2015-06-15|126.099998|126.919998| 43988900|129.6941663|Increasing|
|2015-06-16|127.029999|127.599998| 31494100|129.5699996|Increasing|
|2015-06-17|127.720001|127.300003| 32918100|129.4254994|Decreasing|
|2015-06-18|127.230003|127.879997| 35407200|129.3093328|Increasing|
|2015-06-19|127.709999|126.599998| 54716900|129.1088327|Decreasing|
|2015-06-22|127.489998|127.610001| 34039300|128.8728329|Increasing|
|2015-06-23|127.480003|127.029999| 30268900|128.7039996|Decreasing|
|2015-06-24|127.209999|128.110001| 55280900|128.5486666|Increasing|
|2015-06-25|128.860001|     127.5| 31938100|128.3714998|Decreasing|
|2015-06-26|127.669998|    126.75| 44066800|   128.1985|Decreasing|
|2015-06-29|125.459999|124.529999| 49161400|127.9235001|Decreasing|
|2015-06-30|    125.57|    125.43| 44370700|127.6979999|Decreasing|
|2015-07-01|126.900002|126.599998| 30238800|   127.5075|Decreasing|
|2015-07-02|    126.43|126.440002| 27211000|127.3416666|Increasing|
|2015-07-06|124.940002|       126| 28060400|127.1813333|Increasing|
|2015-07-07|125.889999|125.690002| 46946800|127.0441664|Decreasing|
|2015-07-08|124.480003|    122.57| 60761600|126.8546664|Decreasing|
|2015-07-09|123.849998|    120.07| 77821600|126.4759997|Decreasing|
+----------+----------+----------+---------+-----------+----------+
only showing top 100 rows

In [ ]:
from pyspark.sql.functions import round
#You also have the option of selecting the columns by index
#instead of selecting the names from the original DataFrame:
#df.select(df[2],df[1],df[6],'direction').show(5,False) #list index out of range
full_df.select(full_df[2],round(full_df[1]),full_df[7],'direction').show(10,False)

+----------+--------------+-----------+----------+
|High      |round(Open, 0)|dn         |direction |
+----------+--------------+-----------+----------+
|128.880005|127.0         |106.7410523|Increasing|
|128.779999|128.0         |107.842423 |Increasing|
|129.029999|128.0         |108.8942449|Decreasing|
|129.5     |129.0         |109.7854494|Increasing|
|133       |130.0         |110.3725162|Increasing|
|133.600006|133.0         |111.0948689|Decreasing|
|131.600006|132.0         |113.2119183|Decreasing|
|130.869995|129.0         |114.1652991|Increasing|
|130.570007|130.0         |114.9668484|Decreasing|
|130.279999|129.0         |115.8770904|Decreasing|
+----------+--------------+-----------+----------+
only showing top 10 rows

# Missing Values

In [8]:
#Calculate the missing values in a single column or in multiple columns by using
#the built-in functions in PySpark, as follows:
from pyspark.sql.functions import *
full_df.filter((full_df['mavg']=='')|full_df['mavg']\
.isNull()|isnan(full_df['mavg'])).count()

18

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
#Calculate all the missing values in the DataFrame,
full_df.select([count(when((col(c)=='') | col(c).isNull() |isnan(c), c)).
alias(c) for c in df.columns]).show()

+----+----+-----+------+----+---------+
|Date|Open|Close|Volume|mavg|direction|
+----+----+-----+------+----+---------+
|   0|   0|    0|     0|  18|        0|
+----+----+-----+------+----+---------+

# One-Way Frequencies

In [ ]:
full_df.groupBy(df['direction']).count().show()

+----------+-----+
| direction|count|
+----------+-----+
|Increasing|  278|
|Decreasing|  228|
+----------+-----+

# Sorting and Filtering One-Way Frequencies

In [ ]:
# Subsetting and creating a temporary DataFrame to eliminate any missing values
df_temp=df.filter((df['mavg']!='')&(df['mavg'].isNotNull()) &
(~isnan(df['mavg'])))
df_temp.show()

+----------+----------+----------+--------+-----------+----------+
|      Date|      Open|     Close|  Volume|       mavg| direction|
+----------+----------+----------+--------+-----------+----------+
|2015-02-17|127.489998|127.830002|63152400|117.9276669|Increasing|
|2015-02-18|127.629997|128.720001|44891700|118.9403335|Increasing|
|2015-02-19|128.479996|128.449997|37362400|119.8891668|Decreasing|
|2015-02-20|128.619995|     129.5|48948400|120.7635001|Increasing|
|2015-02-23|130.020004|       133|70974100|121.7201668|Increasing|
|2015-02-24|132.940002|132.169998|69228100|122.6648335|Decreasing|
|2015-02-25|131.559998|128.789993|74711700|123.6296667|Decreasing|
|2015-02-26|128.789993|130.419998|91287500|124.2823333|Increasing|
|2015-03-02|    129.25|129.089996|48096700|125.4036668|Decreasing|
|2015-03-03|128.960007|129.360001|37816300|125.9551669|Increasing|
|2015-03-04|129.100006|128.539993|31666300|126.4730002|Decreasing|
|2015-03-06|128.399994|126.599998|72842100|127.2288335|Decreasing|
|2015-03-10|126.410004|124.510002|68856600|127.9235004|Decreasing|
|2015-03-11|    124.75|122.239998|68939000|128.0033337|Decreasing|
|2015-03-12|122.309998|124.449997|48362700|127.9813337|Increasing|
|2015-03-16|123.879997|124.949997|35874300|127.7283335|Increasing|
|2015-03-17|125.900002|127.040001|51023100|127.6680002|Increasing|
|2015-03-19|    128.75|     127.5|45809500|127.6245004|Decreasing|
|2015-03-20|    128.25|125.900002|68695100|127.4980004|Decreasing|
|2015-03-23|127.120003|127.209999|37709700|127.2633335|Increasing|
+----------+----------+----------+--------+-----------+----------+
only showing top 20 rows

In [ ]:
# Subsetting the DataFrame to Open that are repeated more than 20 times
columns=["Date","Open","Close","Volume","mavg","direction"]
df_temp = df.select(columns)
df_temp=df_temp.withColumn("Rounded_Open", round(col("Open"), 0))
df_temp.show()
df_temp.groupby(df_temp['Rounded_Open'])\
.count().filter("`count` >20")\
.sort(col("count").desc()).show(10,False)

+----------+----------+----------+--------+-----------+----------+------------+
|      Date|      Open|     Close|  Volume|       mavg| direction|Rounded_Open|
+----------+----------+----------+--------+-----------+----------+------------+
|2015-02-17|127.489998|127.830002|63152400|117.9276669|Increasing|       127.0|
|2015-02-18|127.629997|128.720001|44891700|118.9403335|Increasing|       128.0|
|2015-02-19|128.479996|128.449997|37362400|119.8891668|Decreasing|       128.0|
|2015-02-20|128.619995|     129.5|48948400|120.7635001|Increasing|       129.0|
|2015-02-23|130.020004|       133|70974100|121.7201668|Increasing|       130.0|
|2015-02-24|132.940002|132.169998|69228100|122.6648335|Decreasing|       133.0|
|2015-02-25|131.559998|128.789993|74711700|123.6296667|Decreasing|       132.0|
|2015-02-26|128.789993|130.419998|91287500|124.2823333|Increasing|       129.0|
|2015-02-27|       130|128.460007|62014800|       NULL|Decreasing|       130.0|
|2015-03-02|    129.25|129.089996|48096700|125.4036668|Decreasing|       129.0|
|2015-03-03|128.960007|129.360001|37816300|125.9551669|Increasing|       129.0|
|2015-03-04|129.100006|128.539993|31666300|126.4730002|Decreasing|       129.0|
|2015-03-05|128.580002|126.410004|56517100|       NULL|Decreasing|       129.0|
|2015-03-06|128.399994|126.599998|72842100|127.2288335|Decreasing|       128.0|
|2015-03-09|127.959999|127.139999|88528500|       NULL|Decreasing|       128.0|
|2015-03-10|126.410004|124.510002|68856600|127.9235004|Decreasing|       126.0|
|2015-03-11|    124.75|122.239998|68939000|128.0033337|Decreasing|       125.0|
|2015-03-12|122.309998|124.449997|48362700|127.9813337|Increasing|       122.0|
|2015-03-13|124.400002|123.589996|51827300|       NULL|Decreasing|       124.0|
|2015-03-16|123.879997|124.949997|35874300|127.7283335|Increasing|       124.0|
+----------+----------+----------+--------+-----------+----------+------------+
only showing top 20 rows

+------------+-----+
|Rounded_Open|count|
+------------+-----+
|109.0       |23   |
|110.0       |23   |
|116.0       |21   |
|117.0       |21   |
+------------+-----+

# Casting Variables

In [ ]:
#Casting
df = df.withColumn('Volume',df['Volume'].cast("float"))
#After Casting
df.dtypes
df.show()

+----------+----------+----------+-----------+-----------+----------+
|      Date|      Open|     Close|     Volume|       mavg| direction|
+----------+----------+----------+-----------+-----------+----------+
|2015-02-17|127.489998|127.830002|  6.31524E7|117.9276669|Increasing|
|2015-02-18|127.629997|128.720001|  4.48917E7|118.9403335|Increasing|
|2015-02-19|128.479996|128.449997|  3.73624E7|119.8891668|Decreasing|
|2015-02-20|128.619995|     129.5|  4.89484E7|120.7635001|Increasing|
|2015-02-23|130.020004|       133|7.0974096E7|121.7201668|Increasing|
|2015-02-24|132.940002|132.169998|6.9228096E7|122.6648335|Decreasing|
|2015-02-25|131.559998|128.789993|7.4711696E7|123.6296667|Decreasing|
|2015-02-26|128.789993|130.419998|9.1287504E7|124.2823333|Increasing|
|2015-02-27|       130|128.460007|  6.20148E7|       NULL|Decreasing|
|2015-03-02|    129.25|129.089996|  4.80967E7|125.4036668|Decreasing|
|2015-03-03|128.960007|129.360001|  3.78163E7|125.9551669|Increasing|
|2015-03-04|129.100006|128.539993|  3.16663E7|126.4730002|Decreasing|
|2015-03-05|128.580002|126.410004|  5.65171E7|       NULL|Decreasing|
|2015-03-06|128.399994|126.599998|7.2842096E7|127.2288335|Decreasing|
|2015-03-09|127.959999|127.139999|8.8528496E7|       NULL|Decreasing|
|2015-03-10|126.410004|124.510002|  6.88566E7|127.9235004|Decreasing|
|2015-03-11|    124.75|122.239998|   6.8939E7|128.0033337|Decreasing|
|2015-03-12|122.309998|124.449997|  4.83627E7|127.9813337|Increasing|
|2015-03-13|124.400002|123.589996|  5.18273E7|       NULL|Decreasing|
|2015-03-16|123.879997|124.949997|  3.58743E7|127.7283335|Increasing|
+----------+----------+----------+-----------+-----------+----------+
only showing top 20 rows

In [ ]:
#Importing necessary libraries
from pyspark.sql.types import *
#Identifying and assigning lists of variables
float_vars=['Open', 'Close', 'Volume','mavg']
date_vars=['Date']
#Converting variables
for column in float_vars:
 df=df.withColumn(column,df[column].cast(FloatType()))
for column in date_vars:
 df=df.withColumn(column,df[column].cast(DateType()))

df.dtypes

[('Date', 'date'),
 ('Open', 'float'),
 ('Close', 'float'),
 ('Volume', 'float'),
 ('mavg', 'float'),
 ('direction', 'string')]

In [ ]:
df.show(10,False)

+----------+------+------+-----------+----------+----------+
|Date      |Open  |Close |Volume     |mavg      |direction |
+----------+------+------+-----------+----------+----------+
|2015-02-17|127.49|127.83|6.31524E7  |117.927666|Increasing|
|2015-02-18|127.63|128.72|4.48917E7  |118.94033 |Increasing|
|2015-02-19|128.48|128.45|3.73624E7  |119.88917 |Decreasing|
|2015-02-20|128.62|129.5 |4.89484E7  |120.7635  |Increasing|
|2015-02-23|130.02|133.0 |7.0974096E7|121.72017 |Increasing|
|2015-02-24|132.94|132.17|6.9228096E7|122.66483 |Decreasing|
|2015-02-25|131.56|128.79|7.4711696E7|123.62967 |Decreasing|
|2015-02-26|128.79|130.42|9.1287504E7|124.28233 |Increasing|
|2015-02-27|130.0 |128.46|6.20148E7  |NULL      |Decreasing|
|2015-03-02|129.25|129.09|4.80967E7  |125.40366 |Decreasing|
+----------+------+------+-----------+----------+----------+
only showing top 10 rows

# Descriptive Statistics

In [ ]:
columns=["Open","Close","Volume"]
# Subsetting the required columns from the DataFrame
df = df.select(columns)
df.describe().show()

+-------+------------------+------------------+--------------------+
|summary|              Open|             Close|              Volume|
+-------+------------------+------------------+--------------------+
|  count|               506|               506|                 506|
|   mean|112.93499998612837|112.95833972131781| 4.317842094071146E7|
| stddev|11.287489727914043|11.244743807947772|1.9852531320971377E7|
|    min|              90.0|             90.34|           1.14759E7|
|    max|            135.67|            135.51|        1.62206304E8|
+-------+------------------+------------------+--------------------+

In [ ]:
#Since unknown values in Open are marked to be 0, let’s filter out those
#values before calculating the median
df_temp = df.filter((df['Open']!=0)&(df['Open'].isNotNull()) &
(~isnan(df['Open'])))
#Here the second parameter indicates the median value, which is 0.5; you
#can also try adjusting the value to calculate other percentiles
median=df.approxQuantile('Open',[0.5],0.1)
#Printing the Value
print ('The median of Open is '+str(median))

The median of Open is [110.19000244140625]

# Unique/Distinct Values and Counts

In [ ]:
#You may sometimes just want to know the number of levels (cardinality) within
#a variable. You can do this using the countDistinct function available in Spark
# Counts the distinct occurances of titles
full_df.agg(countDistinct(col("Direction")).alias("Count")).show()

+-----+
|Count|
+-----+
|    2|
+-----+

In [ ]:
# Counts the distinct occurances of Date
full_df.select('Date').distinct().show(10,False)

+----------+
|Date      |
+----------+
|2015-05-01|
|2016-08-17|
|2015-02-27|
|2016-04-22|
|2016-08-08|
|2015-02-26|
|2015-11-20|
|2016-07-06|
|2016-03-17|
|2016-04-15|
+----------+
only showing top 10 rows

In [ ]:
# Extracting year from the date

columns=["Date","Open","Close","Volume","direction","headlines"]
df_temp=full_df.select(columns)

df_temp=df_temp.withColumn('Year',year('Date'))
df_temp.show(5)
# Extracting month
df_temp=df_temp.withColumn('Month',month('Date'))
df_temp.show(5)
# Extracting day of month
df_temp=df_temp.withColumn('Day_of_Month',dayofmonth('Date'))
df_temp.show(5)
# Calculating the distinct counts by the year
df_temp.groupBy("Year").agg(countDistinct("Direction")).show(5,False)

+----------+----------+----------+--------+----------+--------------------+----+
|      Date|      Open|     Close|  Volume| direction|           headlines|Year|
+----------+----------+----------+--------+----------+--------------------+----+
|2015-02-17|127.489998|127.830002|63152400|Increasing|A group of journa...|2015|
|2015-02-18|127.629997|128.720001|44891700|Increasing|Playboy Enterpris...|2015|
|2015-02-19|128.479996|128.449997|37362400|Decreasing|Hardware and soft...|2015|
|2015-02-20|128.619995|     129.5|48948400|Increasing|GMO Internet, a l...|2015|
|2015-02-23|130.020004|       133|70974100|Increasing|A Tokyo-based rea...|2015|
+----------+----------+----------+--------+----------+--------------------+----+
only showing top 5 rows

+----------+----------+----------+--------+----------+--------------------+----+-----+
|      Date|      Open|     Close|  Volume| direction|           headlines|Year|Month|
+----------+----------+----------+--------+----------+--------------------+----+-----+
|2015-02-17|127.489998|127.830002|63152400|Increasing|A group of journa...|2015|    2|
|2015-02-18|127.629997|128.720001|44891700|Increasing|Playboy Enterpris...|2015|    2|
|2015-02-19|128.479996|128.449997|37362400|Decreasing|Hardware and soft...|2015|    2|
|2015-02-20|128.619995|     129.5|48948400|Increasing|GMO Internet, a l...|2015|    2|
|2015-02-23|130.020004|       133|70974100|Increasing|A Tokyo-based rea...|2015|    2|
+----------+----------+----------+--------+----------+--------------------+----+-----+
only showing top 5 rows

+----------+----------+----------+--------+----------+--------------------+----+-----+------------+
|      Date|      Open|     Close|  Volume| direction|           headlines|Year|Month|Day_of_Month|
+----------+----------+----------+--------+----------+--------------------+----+-----+------------+
|2015-02-17|127.489998|127.830002|63152400|Increasing|A group of journa...|2015|    2|          17|
|2015-02-18|127.629997|128.720001|44891700|Increasing|Playboy Enterpris...|2015|    2|          18|
|2015-02-19|128.479996|128.449997|37362400|Decreasing|Hardware and soft...|2015|    2|          19|
|2015-02-20|128.619995|     129.5|48948400|Increasing|GMO Internet, a l...|2015|    2|          20|
|2015-02-23|130.020004|       133|70974100|Increasing|A Tokyo-based rea...|2015|    2|          23|
+----------+----------+----------+--------+----------+--------------------+----+-----+------------+
only showing top 5 rows

+----+-------------------------+
|Year|count(DISTINCT Direction)|
+----+-------------------------+
|2015|2                        |
|2016|2                        |
|2017|2                        |
+----+-------------------------+

# Filtering

In [ ]:
#Filter all the Directions that start with “Inc"
df_temp.filter(df_temp['Headlines'].like('Playboy%')).show(3,False)

+----------+----------+----------+--------+----------+--------------------------------------------------------------------------------+----+-----+------------+
|Date      |Open      |Close     |Volume  |direction |headlines                                                                       |Year|Month|Day_of_Month|
+----------+----------+----------+--------+----------+--------------------------------------------------------------------------------+----+-----+------------+
|2015-02-18|127.629997|128.720001|44891700|Increasing|Playboy Enterprises, the parent company of Playboy Magazine, is suing cryptocurr|2015|2    |18          |
|2015-03-05|128.580002|126.410004|56517100|Decreasing|Playboy Enterprises, Inc. has announced it is launching its own cryptocurrency a|2015|3    |5           |
+----------+----------+----------+--------+----------+--------------------------------------------------------------------------------+----+-----+------------+

In [ ]:
#Now, let’s find out the dates that do not end with an “17”
df_temp.filter(~df_temp['Date'].like('%17')).show(3,False)

+----------+----------+----------+--------+----------+--------------------------------------------------------------------------------+----+-----+------------+
|Date      |Open      |Close     |Volume  |direction |headlines                                                                       |Year|Month|Day_of_Month|
+----------+----------+----------+--------+----------+--------------------------------------------------------------------------------+----+-----+------------+
|2015-02-18|127.629997|128.720001|44891700|Increasing|Playboy Enterprises, the parent company of Playboy Magazine, is suing cryptocurr|2015|2    |18          |
|2015-02-19|128.479996|128.449997|37362400|Decreasing|Hardware and software giant Microsoft reportedly brought back bitcoin payments a|2015|2    |19          |
|2015-02-20|128.619995|129.5     |48948400|Increasing|GMO Internet, a leading Japanese Internet services provider that offers online s|2015|2    |20          |
+----------+----------+----------+--------+----------+--------------------------------------------------------------------------------+----+-----+------------+
only showing top 3 rows

In [ ]:
#find any title that contains “Internet” we could use the rlike function,
#which is a regular expression
df_temp.filter(df_temp['headlines'].rlike('\w*Internet')).show(10,False)

+----------+----------+----------+--------+----------+--------------------------------------------------------------------------------+----+-----+------------+
|Date      |Open      |Close     |Volume  |direction |headlines                                                                       |Year|Month|Day_of_Month|
+----------+----------+----------+--------+----------+--------------------------------------------------------------------------------+----+-----+------------+
|2015-02-20|128.619995|129.5     |48948400|Increasing|GMO Internet, a leading Japanese Internet services provider that offers online s|2015|2    |20          |
|2016-08-03|104.809998|105.790001|30202600|Increasing|VeChain, a China-based Internet of Things (IoT)-focused crypto, has surged by mo|2016|8    |3           |
+----------+----------+----------+--------+----------+--------------------------------------------------------------------------------+----+-----+------------+

In [ ]:
#The preceding expression can also be rewritten as follows:
df_temp.filter(df_temp.headlines.contains('Internet')).show()

+----------+----------+----------+--------+----------+--------------------+----+-----+------------+
|      Date|      Open|     Close|  Volume| direction|           headlines|Year|Month|Day_of_Month|
+----------+----------+----------+--------+----------+--------------------+----+-----+------------+
|2015-02-20|128.619995|     129.5|48948400|Increasing|GMO Internet, a l...|2015|    2|          20|
|2016-08-03|104.809998|105.790001|30202600|Increasing|VeChain, a China-...|2016|    8|           3|
+----------+----------+----------+--------+----------+--------------------+----+-----+------------+

In [ ]:
#identify variables that end with a particular suffix? Here we
#have three variables that end with “e”; let’s see if we can identify them by tweaking our
#earlier regular expressions
df.select(df.colRegex("`\w*e`")).printSchema()

root
 |-- Close: float (nullable = true)
 |-- Volume: float (nullable = true)

In [ ]:
#So, let’s first calculate the max by using the following command. The agg function
#used here is handy instead of using describe when you are looking for a specific statistic:
max_pop=df.agg({'Close': 'max'}).collect()[0]['max(Close)']
print(max_pop)
count_obs= df.count()
print(count_obs)
mean_pop=df.agg({'Close': 'mean'}).collect()[0]['avg(Close)']
print(mean_pop)

135.50999450683594
506
112.95833972131781

In [ ]:
#The lit function is a way
#to interact with column literals. It is very useful when you want
#to create a column with a value directly.
df=df.withColumn('mean_Close',lit(mean_pop))
df=df.withColumn('varaiance',pow((df['Close']-df['mean_Close']),2))
variance_sum=df.agg({'varaiance': 'sum'}).collect()[0]['sum(varaiance)']
print(variance_sum)
variance_population= variance_sum/(count_obs-1)
print(variance_population)

63854.35296972171
126.44426330637963

# Creating new column

In [ ]:
def new_cols(Volume,Open):
 if Volume<48948400: Volume_cat='Small'
 elif Volume<58948400: Volume_cat='Medium'
 else: Volume_cat='Big'
 if Open<3: Open_cat='Low'
 elif Open<5: Open_cat='Mid'
 else: Open_cat='High'
 return Volume_cat,Open_cat
# Apply the user-defined function on the DataFrame
udfB=udf(new_cols,StructType([StructField("Volume_cat", StringType(),
True),StructField("Open_cat", StringType(), True)]))
# Pass a user-defined function with two input columns Open and Close
df_temp=df.select('Open','Close','Volume').withColumn("newcat",udfB("Volume","Open"))
df_temp.show(10)

+------+------+-----------+--------------+
|  Open| Close|     Volume|        newcat|
+------+------+-----------+--------------+
|127.49|127.83|  6.31524E7|   {Big, High}|
|127.63|128.72|  4.48917E7| {Small, High}|
|128.48|128.45|  3.73624E7| {Small, High}|
|128.62| 129.5|  4.89484E7|{Medium, High}|
|130.02| 133.0|7.0974096E7|   {Big, High}|
|132.94|132.17|6.9228096E7|   {Big, High}|
|131.56|128.79|7.4711696E7|   {Big, High}|
|128.79|130.42|9.1287504E7|   {Big, High}|
| 130.0|128.46|  6.20148E7|   {Big, High}|
|129.25|129.09|  4.80967E7| {Small, High}|
+------+------+-----------+--------------+
only showing top 10 rows

In [ ]:
# Unbundle the struct type columns into individual columns and drop the struct type
df_with_newcols = df_temp.select('Open','Close','Volume','newcat')\
.withColumn('Volume_cat', df_temp.newcat\
.getItem('Volume_cat'))\
.withColumn('Open_cat', df_temp.newcat\
.getItem('Open_cat')).drop('newcat')
df_with_newcols.show(10,False)

+------+------+-----------+----------+--------+
|Open  |Close |Volume     |Volume_cat|Open_cat|
+------+------+-----------+----------+--------+
|127.49|127.83|6.31524E7  |Big       |High    |
|127.63|128.72|4.48917E7  |Small     |High    |
|128.48|128.45|3.73624E7  |Small     |High    |
|128.62|129.5 |4.89484E7  |Medium    |High    |
|130.02|133.0 |7.0974096E7|Big       |High    |
|132.94|132.17|6.9228096E7|Big       |High    |
|131.56|128.79|7.4711696E7|Big       |High    |
|128.79|130.42|9.1287504E7|Big       |High    |
|130.0 |128.46|6.20148E7  |Big       |High    |
|129.25|129.09|4.80967E7  |Small     |High    |
+------+------+-----------+----------+--------+
only showing top 10 rows

Another way we can achieve the same result is through the when function. One
advantage of using this function is you don’t have to define the output data type. This
is handy for quick and dirty operations. Let’s recreate the preceding columns using the
when function.

In [ ]:
# def new_cols(Volume,Open):
#  if Volume<48948400: Volume_cat='Small'
#  elif Volume<58948400: Volume_cat='Medium'
#  else: Volume_cat='Big'
#  if Open<3: Open_cat='Low'
#  elif Open<5: Open_cat='Mid'
#  else: Open_cat='High'
#  return Volume_cat,Open_cat
# In order to comment on multiple lines at once in Jupyter Notebook,
# you have to select the required lines and then press the Ctrl + /
df_with_newcols = df_temp.select('Open','Close','Volume').\
withColumn('Volume_cat', when(df_temp['Volume']<48948400,'Small').\
when(df_temp['Volume']<58948400,'Medium').otherwise('Big')).\
withColumn('Open_cat', when(df_temp['Open']<120,'Low').
when(df_temp['Open']<135,'Mid').otherwise('High'))
df_with_newcols.show(10)

+------+------+-----------+----------+--------+
|  Open| Close|     Volume|Volume_cat|Open_cat|
+------+------+-----------+----------+--------+
|127.49|127.83|  6.31524E7|       Big|     Mid|
|127.63|128.72|  4.48917E7|     Small|     Mid|
|128.48|128.45|  3.73624E7|     Small|     Mid|
|128.62| 129.5|  4.89484E7|    Medium|     Mid|
|130.02| 133.0|7.0974096E7|       Big|     Mid|
|132.94|132.17|6.9228096E7|       Big|     Mid|
|131.56|128.79|7.4711696E7|       Big|     Mid|
|128.79|130.42|9.1287504E7|       Big|     Mid|
| 130.0|128.46|  6.20148E7|       Big|     Mid|
|129.25|129.09|  4.80967E7|     Small|     Mid|
+------+------+-----------+----------+--------+
only showing top 10 rows

# Deleting and Renaming Columns

In [ ]:
# Using the drop function. to drop any column or columns
columns_to_drop=['Close']
df_with_newcols=df_with_newcols.drop(*columns_to_drop)
df_with_newcols.show(10)

+------+-----------+----------+--------+
|  Open|     Volume|Volume_cat|Open_cat|
+------+-----------+----------+--------+
|127.49|  6.31524E7|       Big|     Mid|
|127.63|  4.48917E7|     Small|     Mid|
|128.48|  3.73624E7|     Small|     Mid|
|128.62|  4.89484E7|    Medium|     Mid|
|130.02|7.0974096E7|       Big|     Mid|
|132.94|6.9228096E7|       Big|     Mid|
|131.56|7.4711696E7|       Big|     Mid|
|128.79|9.1287504E7|       Big|     Mid|
| 130.0|  6.20148E7|       Big|     Mid|
|129.25|  4.80967E7|     Small|     Mid|
+------+-----------+----------+--------+
only showing top 10 rows

In [ ]:
# Renaming can be done using
# either the withColumnRenamed function or the alias function.
df_with_newcols = df_with_newcols\
.withColumnRenamed('Open','Renamed_Open')\
.withColumnRenamed('Volume','Renamed_Volume')
df_with_newcols.show(10)

+------------+--------------+----------+--------+
|Renamed_Open|Renamed_Volume|Volume_cat|Open_cat|
+------------+--------------+----------+--------+
|      127.49|     6.31524E7|       Big|     Mid|
|      127.63|     4.48917E7|     Small|     Mid|
|      128.48|     3.73624E7|     Small|     Mid|
|      128.62|     4.89484E7|    Medium|     Mid|
|      130.02|   7.0974096E7|       Big|     Mid|
|      132.94|   6.9228096E7|       Big|     Mid|
|      131.56|   7.4711696E7|       Big|     Mid|
|      128.79|   9.1287504E7|       Big|     Mid|
|       130.0|     6.20148E7|       Big|     Mid|
|      129.25|     4.80967E7|     Small|     Mid|
+------------+--------------+----------+--------+
only showing top 10 rows

In [ ]:
# To change multiple column names,try the following command:
# Define all the variable changes in the list
new_names = [('Volume_cat','Volume_cat1'),('Open_cat','Open_cat1')]
# Applying the alias function
df_with_newcols_renamed = df_with_newcols\
.select(list(map(lambda old,new:col(old).alias(new),*zip(*new_names))))
df_with_newcols_renamed.show(10)

+-----------+---------+
|Volume_cat1|Open_cat1|
+-----------+---------+
|        Big|      Mid|
|      Small|      Mid|
|      Small|      Mid|
|     Medium|      Mid|
|        Big|      Mid|
|        Big|      Mid|
|        Big|      Mid|
|        Big|      Mid|
|        Big|      Mid|
|      Small|      Mid|
+-----------+---------+
only showing top 10 rows

# 5.2 Utility Functions and Visualizations

In [ ]:
# To concatenate the values of budget_cat and ratings together into a
# single column, we can do so using the concat function. On top of this, let’s change the
# case of the new column to lowercase and trim away any white spaces using the lower
# and trim functions
# Concatenating two variables
df_with_newcols=df_with_newcols.\
withColumn('Open_Volume_Cat',concat(df_with_newcols.\
Volume_cat,df_with_newcols.Open_cat))
df_with_newcols.show(10)

+------------+--------------+----------+--------+---------------+
|Renamed_Open|Renamed_Volume|Volume_cat|Open_cat|Open_Volume_Cat|
+------------+--------------+----------+--------+---------------+
|      127.49|     6.31524E7|       Big|     Mid|         BigMid|
|      127.63|     4.48917E7|     Small|     Mid|       SmallMid|
|      128.48|     3.73624E7|     Small|     Mid|       SmallMid|
|      128.62|     4.89484E7|    Medium|     Mid|      MediumMid|
|      130.02|   7.0974096E7|       Big|     Mid|         BigMid|
|      132.94|   6.9228096E7|       Big|     Mid|         BigMid|
|      131.56|   7.4711696E7|       Big|     Mid|         BigMid|
|      128.79|   9.1287504E7|       Big|     Mid|         BigMid|
|       130.0|     6.20148E7|       Big|     Mid|         BigMid|
|      129.25|     4.80967E7|     Small|     Mid|       SmallMid|
+------------+--------------+----------+--------+---------------+
only showing top 10 rows

# Registering DataFrames

In [ ]:
# Registering temporary table
df_with_newcols.registerTempTable('temp_data')
# Applying the function to show the results
spark.sql('select Volume_cat, count(Volume_cat)\
from temp_data group by Volume_cat').show(10)

/home/user/anaconda3/lib/python3.11/site-packages/pyspark/sql/dataframe.py:329: FutureWarning: Deprecated in 2.0, use createOrReplaceTempView instead.
  warnings.warn("Deprecated in 2.0, use createOrReplaceTempView instead.", FutureWarning)

+----------+-----------------+
|Volume_cat|count(Volume_cat)|
+----------+-----------------+
|    Medium|               62|
|     Small|              364|
|       Big|               80|
+----------+-----------------+

# Window Functions

In [ ]:
# Importing the window functions
from pyspark.sql.window import *
# Step 1: Filtering the missing values
df_with_newcols=df_with_newcols.filter( (df_with_newcols['Renamed_Open'].
isNotNull()) & (~isnan(df_with_newcols['Renamed_Open'])) )

In [ ]:
# Step 2: Applying the window functions for calculating deciles
df_with_newcols = df_with_newcols.select("Renamed_Open","Renamed_Volume","Volume_cat",
ntile(10).over(Window.partitionBy().orderBy(df_with_newcols['Renamed_Volume'].
desc())).alias("decile_rank"))
df_with_newcols.show(10)

23/12/19 15:43:21 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
23/12/19 15:43:21 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
23/12/19 15:43:21 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
23/12/19 15:43:21 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
23/12/19 15:43:21 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.

+------------+--------------+----------+-----------+
|Renamed_Open|Renamed_Volume|Volume_cat|decile_rank|
+------------+--------------+----------+-----------+
|       94.87|  1.62206304E8|       Big|          1|
|       96.04|  1.33369696E8|       Big|          1|
|      110.43|  1.28275504E8|       Big|          1|
|      117.42|    1.241386E8|       Big|          1|
|      134.46|     1.18924E8|       Big|          1|
|      121.99|    1.154506E8|       Big|          1|
|        96.0|  1.14602096E8|       Big|          1|
|      127.03|     1.11985E8|       Big|          1|
|      108.73|  1.10888704E8|       Big|          1|
|      111.11|    1.036016E8|       Big|          1|
+------------+--------------+----------+-----------+
only showing top 10 rows

In [ ]:
# Step 3:Dispalying the values
df_with_newcols.groupby("decile_rank")\
.agg(min('Renamed_Volume').alias('min_Volume'),max('Renamed_Volume')\
.alias('max_Volume'),count('Renamed_Volume')).show()

23/12/19 15:43:22 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
23/12/19 15:43:22 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
23/12/19 15:43:22 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
23/12/19 15:43:22 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.

+-----------+----------+------------+---------------------+
|decile_rank|min_Volume|  max_Volume|count(Renamed_Volume)|
+-----------+----------+------------+---------------------+
|          1| 6.85016E7|1.62206304E8|                   51|
|          2| 5.48436E7|   6.84574E7|                   51|
|          3| 4.74457E7|   5.47169E7|                   51|
|          4|  4.2885E7|   4.70997E7|                   51|
|          5| 3.73572E7|   4.28032E7|                   51|
|          6| 3.41439E7|   3.73562E7|                   51|
|          7| 3.16663E7|   3.40393E7|                   50|
|          8| 2.77663E7|   3.15619E7|                   50|
|          9| 2.51396E7|   2.77337E7|                   50|
|         10| 1.14759E7|   2.50862E7|                   50|
+-----------+----------+------------+---------------------+

# Other Useful Functions

In [ ]:
full_df.show(200)
columns=["Date","Open","Close","Volume","direction","headlines"]
df_temp=full_df.select(columns)
df_temp=df_temp.withColumn('Year',year('Date'))
df_temp.show(5)

+----------+----------+----------+----------+----------+---------+----------+-----------+-----------+-----------+----------+--------------------+
|      Date|      Open|      High|       Low|     Close|   Volume|  Adjusted|         dn|       mavg|         up| direction|           Headlines|
+----------+----------+----------+----------+----------+---------+----------+-----------+-----------+-----------+----------+--------------------+
|2015-02-17|127.489998|128.880005|126.919998|127.830002| 63152400|122.905254|106.7410523|117.9276669|129.1142814|Increasing|A group of journa...|
|2015-02-18|127.629997|128.779999|127.449997|128.720001| 44891700|123.760965| 107.842423|118.9403335|130.0382439|Increasing|Playboy Enterpris...|
|2015-02-19|128.479996|129.029999|128.330002|128.449997| 37362400|123.501363|108.8942449|119.8891668|130.8840887|Decreasing|Hardware and soft...|
|2015-02-20|128.619995|     129.5|128.050003|     129.5| 48948400|124.510914|109.7854494|120.7635001|131.7415509|Increasing|GMO Internet, a l...|
|2015-02-23|130.020004|       133|129.660004|       133| 70974100|127.876074|110.3725162|121.7201668|133.0678174|Increasing|A Tokyo-based rea...|
|2015-02-24|132.940002|133.600006|131.169998|132.169998| 69228100|127.078049|111.0948689|122.6648335|134.2347981|Decreasing|Two California De...|
|2015-02-25|131.559998|131.600006|128.149994|128.789993| 74711700|123.828261|113.2119183|123.6296667|134.0474151|Decreasing|WeMakePrice, bett...|
|2015-02-26|128.789993|130.869995|126.610001|130.419998| 91287500|125.395469|114.1652991|124.2823333|134.3993674|Increasing|Arizona just adva...|
|2015-02-27|       130|130.570007|128.240005|128.460007| 62014800|123.510987|114.9668484|       NULL|134.7184854|Decreasing|Chilean cryptocur...|
|2015-03-02|    129.25|130.279999|128.300003|129.089996| 48096700|124.116706|115.8770904|125.4036668|134.9302432|Decreasing|TransferGo, a Lon...|
|2015-03-03|128.960007|129.520004|128.089996|129.360001| 37816300|124.376308|116.9535132|125.9551669|134.9568205|Increasing|Bitcoin cash has ...|
|2015-03-04|129.100006|129.559998|128.320007|128.539993| 31666300|123.587892|118.0874253|126.4730002|134.8585751|Decreasing|Cryptocurrencies ...|
|2015-03-05|128.580002|    128.75|125.760002|126.410004| 56517100|121.539962|119.1048311|       NULL|134.5925029|Decreasing|Playboy Enterpris...|
|2015-03-06|128.399994|129.369995|126.260002|126.599998| 72842100|121.722637| 120.190797|127.2288335|  134.26687|Decreasing|Reddit no longer ...|
|2015-03-09|127.959999|129.570007|125.059998|127.139999| 88528500|122.241834|121.6289771|       NULL|133.6333568|Decreasing|Barely two months...|
|2015-03-10|126.410004|127.220001|123.800003|124.510002| 68856600| 119.71316|123.1164763|127.9235004|132.7305246|Decreasing|The Bitcoin price...|
|2015-03-11|    124.75|124.769997|122.110001|122.239998| 68939000|117.530609| 123.592756|128.0033337|132.4139113|Decreasing|The adhesion of t...|
|2015-03-12|122.309998|124.900002|121.629997|124.449997| 48362700|119.655466|123.4894559|127.9813337|132.4732114|Increasing|The worldâ€™s big...|
|2015-03-13|124.400002|125.400002|122.580002|123.589996| 51827300|118.828598| 123.045606|       NULL|132.6523946|Decreasing|While not as wide...|
|2015-03-16|123.879997|124.949997|122.870003|124.949997| 35874300|120.136203|122.6967016|127.7283335|132.7599655|Increasing|Computer hardware...|
|2015-03-17|125.900002|    127.32|125.650002|127.040001| 51023100|122.145688| 122.616033|127.6680002|132.7199674|Increasing|Digital payments ...|
|2015-03-18|       127|129.160004|126.370003|128.470001| 65270900|123.520597|122.6064498|       NULL|132.6978842|Increasing|Bitbond, an onlin...|
|2015-03-19|    128.75|    129.25|127.400002|     127.5| 45809500|122.587966|122.5939029|127.6245004|132.6550979|Decreasing|Yamada Denki, one...|
|2015-03-20|    128.25|128.399994|125.160004|125.900002| 68695100|121.049608|122.4865925|127.4980004|132.5094083|Decreasing|The Maltese Parli...|
|2015-03-23|127.120003|127.849998|126.519997|127.209999| 37709700|122.309137|122.6741703|127.2633335|131.8524968|Increasing|Zac Cheah, the CE...|
|2015-03-24|127.230003|128.039993|126.559998|126.690002| 32842300|121.809174|123.0410183|127.0025001|130.9639818|Decreasing|Dallas Mavericks ...|
|2015-03-25|126.540001|    126.82|123.379997|123.379997| 51655200|118.626689|122.8276392|126.7531667|130.6786943|Decreasing|The real estate i...|
|2015-03-26|122.760002|124.879997|122.599998|124.239998| 47572900|119.453558|122.5538523|126.4835001|130.4131478|Increasing|"The biggest name...|
|2015-03-27|    124.57|124.699997|122.910004|    123.25| 39546200|  118.5017|122.2826504|       NULL|130.1373491|Decreasing|The Bunny Ranch, ...|
|2015-03-30|124.050003|126.400002|       124|126.370003| 47099700|121.501502| 122.346906|126.0283332|129.7097604|Increasing|Starting March 5t...|
|2015-03-31|126.089996|126.489998|124.360001|    124.43| 42090600| 119.63624| 122.395242|125.8334998|129.2717577|Decreasing|Coinbase Commerce...|
|2015-04-01|    124.82|125.120003|123.099998|    124.25| 40621400|119.463174|122.3761274|125.6009999|128.8258723|Decreasing|As an emerging te...|
|2015-04-02|125.029999|125.559998|124.190002|    125.32| 32220100|120.491951|122.3330336|       NULL| 128.673966|Increasing|BitConnect, a onc...|
|2015-04-06|124.470001|127.510002|124.330002|127.349998| 37194000|122.443743| 122.374816|125.4528332|128.5308505|Increasing|StartEngine, a U....|
|2015-04-07|127.639999|128.119995|125.980003|126.010002| 35012300|121.155371|122.4030622|125.4251665|128.4472708|Decreasing|Brisbane airport ...|
|2015-04-08|125.849998|126.400002|124.970001|125.599998| 37329200|120.761163|122.4277133|125.4491664|128.4706195|Decreasing|Millionaire inves...|
|2015-04-09|125.849998|126.580002|124.660004|126.559998| 32484000|121.684177|122.7775359|       NULL|128.4101305|Increasing|SME owners in the...|
|2015-04-10|125.949997|127.209999|125.260002|127.099998| 40188000|122.203374|123.0398914|125.7369999|128.4341085|Increasing|The government of...|
|2015-04-13|128.369995|128.570007|126.610001|126.849998| 36365100|121.963006| 123.272819|125.9113334|128.5498477|Decreasing|The bitcoin price...|
|2015-04-14|       127|127.290001|125.910004|126.300003| 25524600|121.434199| 123.487134|126.0235002|128.5598665|Decreasing|"Digital payments...|
|2015-04-15|126.410004|127.129997|126.010002|126.779999| 28970400|121.895703|123.4871301|126.0220001|128.5568702|Increasing|The use case for ...|
|2015-04-16|126.279999|127.099998|126.110001|126.169998| 28369000|121.309203|123.5664037|       NULL|128.3235962|Decreasing|A Toronto man is ...|
|2015-04-17|125.550003|126.139999|124.459999|    124.75| 51957000|119.943911|123.6022692|125.7983332|127.9943973|Decreasing|Alessandro Santos...|
|2015-04-20|    125.57|128.119995|125.169998|127.599998| 47054300|122.684112|123.5867451|125.8221664|128.0575877|Increasing|Expedia, the onli...|
|2015-04-21|128.100006|128.199997|126.669998|126.910004| 32435100|122.020699|123.5817266|125.8254998| 128.069273|Decreasing|Crypto exchange C...|
|2015-04-22|126.989998|128.869995|    126.32|128.619995| 37654500|123.664812|123.5019782|125.8674998|128.2330214|Increasing|Ethics officials ...|
|2015-04-23|128.300003|130.419998|128.139999|129.669998| 45770900|124.674363|123.3716821|126.1116665|128.8516508|Increasing|Liberland, a self...|
|2015-04-24|130.490005|130.630005|129.229996|130.279999| 44525900|125.260863|123.3764705|126.4186666|129.4608626|Decreasing|Upstart MMA promo...|
|2015-04-27|132.309998|133.130005|131.149994|132.649994| 96954200|127.539552| 123.128271|126.8531664|130.5780619|Increasing|A leading Wall St...|
|2015-04-28|134.460007|134.539993|129.570007|130.559998|118924000|125.530074|122.9533691|127.1514997|131.3496302|Decreasing|Aston Plaza & Res...|
|2015-04-29|130.160004|131.589996|128.300003|128.639999| 63386100|123.684046| 123.165847| 127.372333| 131.578819|Decreasing|One of Silicon Va...|
|2015-04-30|128.639999|128.639999|124.580002|125.150002| 83195400|120.328503|123.4832179|127.4706663|131.4581147|Decreasing|"Andrew Yang, a "...|
|2015-05-01|126.099998|130.130005|125.300003|128.949997| 58512600|  123.9821|123.7928685|127.6258331|131.4587977|Increasing|Popular Twitch st...|
|2015-05-04|     129.5|130.570007|128.259995|128.699997| 50988300|123.741732|123.9186426| 127.764833|131.6110235|Decreasing|With the lowest a...|
|2015-05-05|128.149994|128.449997|125.779999|125.800003| 49271400|120.953462|  123.91582|127.7634997|131.6111794|Decreasing|From bond issuanc...|
|2015-05-06|126.559998|    126.75|123.360001|125.010002| 72141000|120.193897|123.8088193|127.7326664|131.6565135|Decreasing|Australian beach ...|
|2015-05-07|124.769997|126.080002|124.019997|125.260002| 43940900| 120.93733|123.6785663|127.6919997| 131.705433|Increasing|Slow transaction ...|
|2015-05-08|    126.68|127.620003|126.110001|127.620003| 55550400|123.215888|123.7345408|127.7216665|131.7087922|Increasing|The price of bitc...|
|2015-05-11|127.389999|127.559998|125.629997|    126.32| 42035800|121.960747|123.6599205|       NULL|131.6994121|Decreasing|Contrary to repor...|
|2015-05-12|125.599998|126.879997|    124.82|125.870003| 48160000|121.526279|123.5804905|127.6474995|131.7145084|Increasing|"Yeogi Eottae, a ...|
|2015-05-13|126.150002|127.190002|125.870003|126.010002| 34694200|121.661447|123.5504423| 127.633333|131.7162236|Decreasing|Bitcoin mining fi...|
|2015-05-14|127.410004|128.949997|127.160004|128.949997| 45203500|124.499984|123.6706007|127.7279997|131.7853986|Increasing|Major Cineplex, T...|
|2015-05-15|129.070007|129.490005|128.210007|128.770004| 38208000|124.326203|124.0144574|127.9133333|131.8122092|Decreasing|Four new condos i...|
|2015-05-18|128.380005|130.720001|128.360001|130.190002| 50882900|125.697198| 124.100497|128.0530002|132.0055033|Increasing|U. S. taxpayers a...|
|2015-05-19|130.690002|130.880005|129.639999|130.070007| 44633200|125.581344|124.1588765|128.1998337|132.2407909|Decreasing|Cryptocurrencies ...|
|2015-05-20|       130|130.979996|129.339996|130.059998| 36454900|125.571679|124.1850087|128.3093337|132.4336587|Increasing|Missouri Republic...|
|2015-05-21|130.070007|131.630005|129.830002|131.389999| 39730400|126.855783|124.1273816|128.3863339|132.6452861|Increasing|Venezuelaâ€™s oil...|
|2015-05-22|131.600006|132.970001|131.399994|132.539993| 45596000|127.966091|123.9598963| 128.499167|133.0384377|Increasing|In the early hour...|
|2015-05-26|132.600006|132.910004|129.119995|129.619995| 70697600|125.146861|124.1087609| 128.411167|132.7135731|Decreasing|Key PointsBitcoin...|
|2015-05-27|130.339996|132.259995|130.050003|132.039993| 45833200|127.483346|124.1188009|128.4058336|132.6928663|Increasing|There are those w...|
|2015-05-28|131.860001|131.949997|131.100006|131.779999| 30733300|127.232324|124.0226213|128.5108337| 132.999046|Decreasing|FOMO MomentsMarke...|
|2015-05-29|131.229996|131.449997|129.899994|130.279999| 50884500|125.784088| 124.300709|128.7318334|133.1629579|Decreasing|FOMO MomentsMarke...|
|2015-06-01|130.279999|131.389999|130.050003|130.539993| 32112800| 126.03511|124.3594994|128.8584999|133.3575004|Increasing|FOMO MomentsMarke...|
|2015-06-02|129.860001|130.660004|129.320007|129.960007| 33667600|125.475139|124.3747459|128.8986669|133.4225879|Increasing|Several things ha...|
|2015-06-03|130.660004|130.940002|129.899994|130.119995| 30889400|125.629606|124.6367699|129.0808335| 133.524897|Decreasing|FOMO MomentsCrypt...|
|2015-06-04|129.580002|130.580002|128.910004|129.360001| 38450100|124.895839|125.2683798|129.3096669|133.3509539|Decreasing|FOMO MomentsThe t...|
|2015-06-05|     129.5|129.690002|128.360001|128.649994| 35626800|124.210334|125.9332746|129.4986668| 133.064059|Decreasing|FOMO MomentsMarke...|
|2015-06-08|128.899994|129.210007|126.830002|127.800003| 52674800|123.389676|126.0685551|129.5401669|133.0117786|Decreasing|FOMO MomentsAltco...|
|2015-06-09|126.699997|128.080002|125.620003|127.419998| 56075400|123.022785|126.1824915|129.5670003|132.9515092|Increasing|Litecoin has alwa...|
|2015-06-10|127.919998|129.339996|127.849998|128.880005| 39087300|124.432408|126.7463818| 129.708667|132.6709521|Increasing|Cryptocurrencies ...|
|2015-06-11|129.179993|130.179993|128.479996|128.589996| 35390900|124.152407|127.2892578|    129.845|132.4007421|Decreasing|FOMO MomentsCrypt...|
|2015-06-12|128.190002|128.330002|127.110001|127.169998| 36886200|122.781413| 127.131001|129.8041667|132.4773323|Decreasing|TRON has complete...|
|2015-06-15|126.099998|127.239998|125.709999|126.919998| 43988900| 122.54004|126.7060981|129.6941663|132.6822346|Increasing|The cryptocurrenc...|
|2015-06-16|127.029999|127.849998|126.370003|127.599998| 31494100|123.196574|126.4016896|129.5699996|132.7383095|Increasing|FOMO MomentsBleed...|
|2015-06-17|127.720001|127.879997|126.739998|127.300003| 32918100|122.906931|126.1238847|129.4254994| 132.727114|Decreasing|Chosun, South Kor...|
|2015-06-18|127.230003|128.309998|127.220001|127.879997| 35407200| 123.46691|125.9515598|129.3093328|132.6671058|Increasing|Manipulation in t...|
|2015-06-19|127.709999|    127.82|126.400002|126.599998| 54716900|122.231083|125.6885656|129.1088327|132.5290998|Decreasing|Interesting times...|
|2015-06-22|127.489998|128.059998|127.080002|127.610001| 34039300|123.206231|125.7264205|128.8728329|132.0192453|Increasing|The IOTA project ...|
|2015-06-23|127.480003|127.610001|126.879997|127.029999| 30268900|122.646244|125.5733485|128.7039996|131.8346507|Decreasing|As the technology...|
|2015-06-24|127.209999|129.800003|127.120003|128.110001| 55280900|123.688976|125.6811976|128.5486666|131.4161355|Increasing|FOMO MomentsRed d...|
|2015-06-25|128.860001|129.199997|     127.5|     127.5| 31938100|123.100026|125.8677152|128.3714998|130.8752844|Decreasing|One of the larges...|
|2015-06-26|127.669998|127.989998|126.510002|    126.75| 44066800|122.375908|125.8452624|   128.1985|130.5517375|Decreasing|FOMO MomentsMarke...|
|2015-06-29|125.459999|126.470001|124.480003|124.529999| 49161400|120.232518|125.5007067|127.9235001|130.3462935|Decreasing|Verge has announc...|
|2015-06-30|    125.57|126.120003|124.860001|    125.43| 44370700|121.101461|125.2434909|127.6979999|130.1525088|Decreasing|U. S. dollar back...|
|2015-07-01|126.900002|126.940002|125.989998|126.599998| 30238800|122.231083| 125.319636|   127.5075|129.6953639|Decreasing|FOMO MomentsCrypt...|
|2015-07-02|    126.43|126.690002|125.769997|126.440002| 27211000|122.076609|125.3221027|127.3416666|129.3612304|Increasing|FOMO MomentsMarke...|
|2015-07-06|124.940002|126.230003|124.849998|       126| 28060400| 121.65179| 125.172968|127.1813333|129.1896986|Increasing|Various countries...|
|2015-07-07|125.889999|126.150002|123.769997|125.690002| 46946800|121.352491|124.8939059|127.0441664| 129.194427|Decreasing|Ripple is â€˜very...|
|2015-07-08|124.480003|124.639999|122.540001|    122.57| 60761600|118.340158|124.1418974|126.8546664|129.5674354|Decreasing|FOMO MomentsCrypt...|
|2015-07-09|123.849998|124.059998|119.220001|    120.07| 77821600|115.926432|122.9127426|126.4759997|130.0392568|Decreasing|FOMO MomentsCrypt...|
|2015-07-10|121.940002|123.849998|121.209999|123.279999| 61354500|119.025655|122.4632754|126.1608332|129.8583911|Increasing|FOMO MomentsMarke...|
|2015-07-13|125.029999|125.760002|    124.32|125.660004| 41440500|121.323527|122.3846331|126.0463333|129.7080335|Increasing|"The CEO of Wanch...|
|2015-07-14|126.040001|126.370003|125.040001|125.610001| 31768100| 121.27525| 122.343664|125.9988335|129.6540029|Decreasing|Interest in crypt...|
|2015-07-15|125.720001|127.150002|125.580002|    126.82| 33649200|122.443492|122.3439159|125.9610002|129.5780846|Increasing|Earlier today, on...|
|2015-07-16|127.739998|128.570007|127.349998|128.509995| 36222400|124.075166|122.3059902|126.0028336| 129.699677|Increasing|FOMO MomentsHappy...|
|2015-07-17|129.080002|129.619995|128.309998|129.619995| 46164700|125.146861|122.1959647|126.0718335|129.9477023|Increasing|Itâ€™s always goo...|
|2015-07-20|130.970001|132.970001|130.699997|132.070007| 58900200|127.512324|121.6892041|126.3205002|130.9517963|Increasing|The Winklevoss tw...|
|2015-07-21|132.850006|132.919998|130.320007|    130.75| 76756400| 126.23787|121.4079709|126.5078336|131.6076963|Decreasing|Key HighlightsETH...|
|2015-07-22|121.989998|     125.5|121.989998|125.220001|115450600|120.898709|121.1778138|       NULL|131.5441868|Increasing|FOMO MomentsCurre...|
|2015-07-23|126.199997|127.089996|125.059998|125.160004| 50999500|120.840782|121.1251692|126.2323335|131.3394978|Decreasing|Legendary MMA fig...|
|2015-07-24|    125.32|125.739998|123.900002|     124.5| 42162300|120.203555| 120.989315|126.0646669|131.1400187|Decreasing|Key PointsBitcoin...|
|2015-07-27|123.089996|123.610001|122.120003|122.769997| 44455500|118.533253|120.6120011|       NULL|131.0923327|Decreasing|Just weeks after ...|
|2015-07-28|123.379997|123.910004|122.550003|123.379997| 33618100|119.122203|120.4054683|125.7581669|131.1108655|Increasing|Japan leads the c...|
|2015-07-29|123.150002|     123.5|122.269997|122.989998| 37011700|118.745662|120.1369622|125.6306668|131.1243713|Decreasing|As the US Securit...|
|2015-07-30|    122.32|    122.57|121.709999|122.370003| 33628300|118.147063|119.7438845|125.4160002|131.0881158|Increasing|FOMO MomentsThe r...|
|2015-07-31|122.599998|122.639999|120.910004|121.300003| 42885000|117.113989|119.2924998|125.1818336|131.0711674|Decreasing|One of the worldâ...|
|2015-08-03|     121.5|    122.57|117.519997|118.440002| 69976000|114.352685|118.4943027|124.8726669|131.2510311|Decreasing|FOMO MomentsCurre...|
|2015-08-04|117.419998|117.699997|    113.25|114.639999|124138600|110.683819|116.7313042|124.3723335|132.0133628|Decreasing|BitPay is the wor...|
|2015-08-05|112.949997|117.440002|112.099998|115.400002| 99312600|111.417594|115.2932316|123.9588335|132.6244354|Increasing|Satoshi Nakamotoâ...|
|2015-08-06|115.970001|     116.5|114.120003|115.129997| 52903000| 111.66005|114.2686043|123.6655002|133.0623961|Decreasing|The worldâ€™s lar...|
|2015-08-07|114.580002|    116.25|     114.5|115.519997| 38670400|112.038295|113.2383284|123.2976669|133.3570053|Increasing|Key PointsBitcoin...|
|2015-08-10|116.529999|119.989998|116.529999|119.720001| 54951600|116.111714|112.7672569|       NULL|133.1780766|Increasing|Line, the most wi...|
|2015-08-11|117.809998|    118.18|113.330002|113.489998| 97082800|110.069479|111.7495121|    122.439|133.1284878|Decreasing|Komodo Platform, ...|
|2015-08-12|112.529999|115.419998|109.629997|115.239998|101217500|111.766735|110.5837964|121.7846665|132.9855365|Increasing|Augur, a cryptocu...|
|2015-08-13|116.040001|116.400002|114.540001|115.150002| 48535800|111.679451|110.0107495|121.1456666|132.2805836|Decreasing|It has been a rat...|
|2015-08-14|    114.32|116.309998|114.010002|115.959999| 42929500|112.465036|109.7007656|120.4578334|131.2149012|Increasing|FOMO MomentsAnoth...|
|2015-08-17|116.040001|117.650002|     115.5|117.160004| 40884700|113.628873|110.2193367|119.7006668|129.1819968|Increasing|Cryptocurrencies ...|
|2015-08-18|    116.43|117.440002|116.010002|     116.5| 34560700|112.988761| 111.057582|118.9666667|126.8757514|Increasing|FOMO MomentsMarke...|
|2015-08-19|116.099998|116.519997|    114.68|115.010002| 47445700|111.543671|110.8596081|118.5250001| 126.190392|Decreasing|A new industry re...|
|2015-08-20|114.080002|114.349998|111.629997|112.650002| 68501600|  109.2548|110.6016943|117.8803334|125.1589724|Decreasing|As reported earli...|
|2015-08-21|    110.43|111.900002|105.650002|105.760002|128275500|102.572461|109.2092545|117.0331668|124.8570791|Decreasing|The Ethereum netw...|
|2015-08-24| 94.870003|108.800003|        92|103.120003|162206300|100.012029|105.9911026|115.9568336|125.9225645|Increasing|US based provider...|
|2015-08-25|111.110001|111.110001|     103.5|103.739998|103601600|100.613338|104.8512275|115.0986668|125.3461062|Decreasing|Nebula, a cryptoc...|

In [ ]:
# Apply collect_list function to gather all occurrences
df_temp.filter(df_temp['Headlines'].like('%Crypto%')).groupby('direction')\
.agg(collect_list("Year")).show(1,False)

+----------+------------------------------------------------------------------------------------------------------------------------------------+
|direction |collect_list(Year)                                                                                                                  |
+----------+------------------------------------------------------------------------------------------------------------------------------------+
|Increasing|[2015, 2015, 2015, 2015, 2015, 2015, 2015, 2016, 2016, 2016, 2016, 2016, 2016, 2016, 2016, 2016, 2016, 2016, 2016, 2016, 2016, 2016]|
+----------+------------------------------------------------------------------------------------------------------------------------------------+
only showing top 1 row

# Sampling

The first
parameter True/False indicates whether you would like to do a sample with or without
replacement. Here, we would like to do it without replacement, so we selected False.
The second parameter is the fraction. It indicates the proportion of the population you
would like to have in the sample. The third parameter is the seed, which guarantees you
the same result when you run this snippet every single time.

In [ ]:
# Simple random sampling in PySpark with replacement
df_sample = df.sample(False, 0.4, 11)
df_sample.count()

207

In [ ]:
# Stratified sampling in PySpark
df = df_temp.withColumn('Year',year('Date'))
df_strat = df.sampleBy("Year", fractions={2015: 0.2, 2016: 0.4,
2017: 0.4}, seed=11)
df_strat.count()

162

# Pandas Support

In [ ]:
# Pandas to PySpark
df_pandas=df.toPandas()
# Pandas to PySpark
df_py = spark.createDataFrame(df_pandas)
df_py.show(5)

+----------+----------+----------+--------+----------+--------------------+----+
|      Date|      Open|     Close|  Volume| direction|           headlines|Year|
+----------+----------+----------+--------+----------+--------------------+----+
|2015-02-17|127.489998|127.830002|63152400|Increasing|A group of journa...|2015|
|2015-02-18|127.629997|128.720001|44891700|Increasing|Playboy Enterpris...|2015|
|2015-02-19|128.479996|128.449997|37362400|Decreasing|Hardware and soft...|2015|
|2015-02-20|128.619995|     129.5|48948400|Increasing|GMO Internet, a l...|2015|
|2015-02-23|130.020004|       133|70974100|Increasing|A Tokyo-based rea...|2015|
+----------+----------+----------+--------+----------+--------------------+----+
only showing top 5 rows